---
- name: Elasticsearch | /etc/sysctl.conf
  systcl: name="{{ item.name }}" value={{ item.value }} state=present sysctl_set=yes
  with_items:
    - {name: vm.swappiness,     value: 1     }
    - {name: vm.max_map_count,  value: 262144}
    - {name: fs.file-max,       value: 262144}
  tags: install

- name: Elasticsearch | Install unzip and java package
  yum: name={{ item }} state=installed
  when: ansible_os_family == "RedHat"
  tags: install
  with_items:
    - unzip
    - java-1.8.0-openjdk

- name: Elasticsearch | Download and Install Package
  unarchive:
    src: "{{ es_src_pkg }}"
    dest: "{{ es_dest_install_path }}"
    remote_src: "{{ es_remote_src }}"
    keep_newer: yes
  tags: install

- name: Elasticsearch | Ensure Link elasticsearch
  file: src="{{ es_dest_install_path }}/{{ es_version }}" dest="{{ es_dest_install_path }}/{{ es_name }}" state=link
  tags: install

- name: Elasticsearch |
  lineinfile:
    path: /etc/profile
    regexp: 'export PATH=$PATH:{{ es_dest_install_path }}/{{ es_name }}/bin'
    line: 'export PATH=$PATH:{{ es_dest_install_path }}/{{ es_name }}/bin'
  tags: install

#- name: Memory
#  shell: MEMORIexpr `free -m |grep Mem |awk '{print $2}'` / 2
#  args:
#    chdir: /tmp
